@charset "utf-8";
/*重置样式*/
*{
	margin: 0;
	padding: 0;
}
.wrap{
	width: 100%;
	height: 100%;
}
.main{
	width:100%;
	height:600px;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}	
.main .page{
	width:100%;
	height:600px;
	margin: 0 auto;
	position: absolute;
	
}
.pageUp{transform:translateY(-600px);}
.pageDown{transform:translateY(600px);}
.hide{
			display: none;
		}
.page-1{
	background: url(../images/timg-1.jpg);
	background-size: 100% 100%; 
	position:relative;
	overflow: hidden;
}
.page-1 h1{
	font-size: 50px;
	position: absolute;
	top: 100px;
	left: 200px;
}
.page-1 p{
	font-size: 25px;
	position: absolute;
	top: 250px;
	right:150px;
}
.page-2{
	background: url(../images/pic6.jpg);
	background-size:100% 100%; 
	position: relative;
	font-size: 30px;
}
.page-2 .center {
	position: absolute;
	top: 150px;
	left: 170px;
}
.center p{
	margin-top: 20px;
}
.page-3{
	background: url(../images/pic2.jpg);
	background-size: 100% 100%; 
	position: relative;
	
}
.page-3 .three{
	position: absolute;
	top:50px;
	left: 150px;
}
.page-3 h1{
	text-align: center;
	font-size: 40px;
	color:#FFE3E2;
}
.page-3 p{
	text-align: center;
	margin-top: 20px;
}
.page-3 img{
	width: 200px;
	height: 200px;
	-webkit-mask-image:url(../images/06.png);
}
.page-3 img:nth-of-type(1){
	position: absolute;
	left: 80px;
	bottom: 70px;
}
.page-3 img:nth-of-type(2){
	position: absolute;
	right: 100px;
	bottom: 70px;
}
.page-3 .sj{
	position: absolute;
	left:220px;
	bottom:300px;
}
.page-4{
	background: url(../images/pic4.jpg);
	background-size: 100% 100%; 
	position: relative;
}
.out{
	position: absolute;
	top: 70px;
	left: 90px;
}
.page-4 h1{
	text-align: center;
	font-size: 40px;
	color: lightblue;
}
.page-4 p{
	font-size: 20px;
	color:orange;
	text-align: center;
}
span{
	color: lightblue;
	font-weight: bold;
	font-size: 40px;
}
.page-4 h1:nth-of-type(2){
	margin-top: 20px;
}
.page-4 p:nth-of-type(4){
	margin-top: 20px;
}
.page-5{
	background: url(../images/pic5.jpg);
	background-size: 100% 100%; 
	position: relative;
}
ul li{
	list-style: none;
}
.first .outer{
	overflow: hidden;
}
.first .outer li{
	float: left;
}
.second .outer{
	overflow: hidden;
}
.second .outer li{
	float: left;
}
.third .outer{
	overflow: hidden;
}
.third .outer li{
	float: left;
}
.first h2{
	position: absolute;
	top:120px;
	left:80px;
}
.first .outer{
	position: absolute;
	top:90px;
	left:220px;
}
.first .outer li{
	margin-left: 30px;
}
.second h2{
	position: absolute;
	top:280px;
	left:80px;
}
.second .outer{
	position: absolute;
	top:250px;
	left:220px;
}
.second .outer li{
	margin-left: 30px;
}
.third h2{
	position: absolute;
	bottom:200px;
	left:80px;
}
.third .outer{
	position: absolute;
	bottom:200px;
	left:200px;
}
.third .outer li{
	margin-left: 60px;
}
.page-5 h2:hover{
	color:#AB82FF;
	cursor: pointer;
}
.page-5 li img:hover{
	background-colors: red pink lime ;
}
.third li:hover{
	color: lightblue;
	cursor: pointer;
	font-weight: bold;
}